<div class="container mt-4">
  <form [formGroup]="form" class="bg-light p-4 rounded">
    <!-- Nombre y Email -->
    <div class="row mb-3">
      <div class="col-md-5 mb-3">
        <label class="form-label">Nombre</label>
        <input
          formControlName="nombre"
          (input)="logeo(form)"
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.controls['nombre'].invalid && form.controls['nombre'].touched
          }"
        />
        @if (form.controls['nombre'].invalid && form.controls['nombre'].touched)
        { @if (form.controls['nombre'].errors?.['required']) {
        <div class="text-danger">Nombre obligatorio</div>
        } @if (form.controls['nombre'].errors?.['minlength']) {
        <div class="text-danger">debe tener 3 letras por lo menos</div>
        } }
      </div>

      <div class="col-md-5 mb-3">
        <label class="form-label">Email</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.controls['email'].invalid && form.controls['email'].touched
          }"
        />
        @if (form.controls['email'].invalid && form.controls['email'].touched) {
        @if (form.controls['email'].errors?.['required']) {
        <div class="text-danger">Email obligatorio</div>
        } @if (form.controls['email'].errors?.['email']) {
        <div class="text-danger">debe tener formato email</div>
        } }
      </div>
      <div class="col-md-2 mb-3 mt-4">
        <button
          type="button"
          class="btn btn-primary"
          (click)="agregarProducto()"
        >
          + producto
        </button>
      </div>
    </div>

    <!-- Lista de Productos -->
    <div formArrayName="productos">
      @if (productos.errors?.['duplicateProduct']) {
        <div class="alert alert-danger">
          No se pueden agregar productos duplicados
        </div>
      }
      @for (producto of productos.controls; track $index) {
      <div [formGroupName]="$index" class="row mb-3">
        <div class="col-md-3 mb-2">
          <label class="form-label">Producto</label>
          <select
            formControlName="selectedProduct"
            class="form-select"
            [ngClass]="{
              'is-invalid':
                producto.get('selectedProduct')?.invalid &&
                producto.get('selectedProduct')?.touched ||
                productos.errors?.['duplicateProduct']}"
          >
            <option value="">Seleccione</option>
            @for (prod of productosList; track prod.name) {
            <option [value]="prod.name">{{ prod.name }}</option>
            }
          </select>
          @if (producto.get('selectedProduct')?.errors?.['duplicateProduct']) {
          <div class="text-danger">Producto duplicado</div>
          }
        </div>

        <div class="col-md-2 mb-2">
          <label class="form-label">Cantidad</label>
          <input
            formControlName="cantidad"
            type="number"
            class="form-control"
          />
        </div>

        <div class="col-md-2 mb-2">
          <label class="form-label">Precio</label>
          <input
            formControlName="precio"
            type="text"
            class="form-control"
            readonly
          />
        </div>

        <div class="col-md-2 mb-2">
          <label class="form-label">Stock</label>
          <input
            formControlName="stock"
            type="text"
            class="form-control"
            readonly
          />
        </div>

        <div class="col-md-3 d-flex align-items-end mb-2">
          <button
            type="button"
            class="btn btn-danger"
            (click)="eliminarProducto($index)"
          >
            Eliminar
          </button>
        </div>
      </div>
      }
    </div>

    <!-- Resumen de Productos -->
    <div class="row">
      <div formArrayName="productos" class="bg-primary p-3 text-white mb-3">
        @for (producto of productos.controls; track $index) {
        <div [formGroupName]="$index" class="row mb-2">
          <div class="col">
            {{ producto.get("selectedProduct")?.value || "Ninguno" }}
            - cantidad: {{ producto.get("cantidad")?.value || "no hay" }} -
            precio unitario: {{ producto.get("precio")?.value }} - stock:
            {{ producto.get("stock")?.value }}
          </div>
        </div>
        } @empty {
        <div class="text-center">No hay productos seleccionados</div>
        }
      </div>
    </div>

    <!-- Total -->
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <label class="form-label">Total</label>
        <input
          formControlName="total"
          type="text"
          class="form-control"
          readonly
        />
      </div>
    </div>
  </form>
</div>
